@import "tailwindcss";

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: white;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}
